  <ol class="sortable">
    <% @actions_array.each do |action| %>
      <li id="action_<%=action.id%>" class="action_<%= action.status %> action_<%= action.priority %>">"action.STEP={<%= action.step %>}" AND "action.ID={<%= action.id %>}""

      <br>- action.action_statement: {<%= action.action_statement %>},
      <br>- action.priority {<%= action.priority %>}
      <br>- action.acting_person {<%= action.acting_person %>}, action.acting_person_title {<%= action.acting_person_title %>}
      <br>- action.description {<%= action.description %>}
      <br>- action.status {<%= action.status %>}




      <br> | <a href="#">Edit</a> | <a href="#">Delete</a>
    <br>
    <br>
    </li>
    <% end %>
    <br>

  </ol>
