  <ol class="sortable">
    <% @paps.actions.each_with_index do |action_step, index| %>
      <li id="action_<%=action_step.id%>" class="action_<%= action_step.status %> action_<%= action_step.priority %>">"{<%= action_step.id %>} action_step.id" {<%= action_step.id %>}

      <br>- action_step.action_statement: {<%= action_step.action_statement %>},
      <br>- action_step.priority {<%= action_step.priority %>}
      <br>- action_step.acting_person {<%= action_step.acting_person %>}, action_step.acting_person_title {<%= action_step.acting_person_title %>}
      <br>- action_step.description {<%= action_step.description %>}
      <br>- action_step.status {<%= action_step.status %>}




      <br> | <a href="#">Edit</a> | <a href="#">Delete</a>
    <br>
    <br>
    </li>
    <% end %>
    <br>

  </ol>
