<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/application.css" rel="stylesheet">
  <link href="/css/jquery-ui.theme.css" rel="stylesheet">
  <link href="/css/jquery-ui.structure.css" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>

<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ASApp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/paps">Home</a></li>
        <li><a href="/about">About</a></li>
<!--         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><a href="/paps"><%= "PAP +" %></a></li>
          <li><a href="#"><%= "Edit Profile" %></a></li>
          <!-- <li><a href='/logout' rel="nofollow" data-method="delete" data-remote="true">Destroy W/ JS</a></li> -->
          <li><form action="/logout" method="post">
            <input name="_method" type="hidden" value="delete" />
            <!-- <input type="submit" value="Logout"> -->
            <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-star-empty"></span>Logout</button>
          </form></li>
        <% else %>
      <!-- <li><a href="/sessions/new"><%=  "Login" %></a></li> -->
        <% end %>
      </ul>
<!--         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</header>
<body>
  <div class="container">
    <div class="row">
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p><%= "#{error}" %></p>
        <% end %>
      <% end %>

      <%= yield %>

    </div>
  </div>

  <div class="container">
    <footer>
      <small>
        <%=  "PAP! Website footer info" %>
        by <%=  "Hethe Berg, " %><a href="growthcode.github.io">growthcode.github.io</a>
      </small>
    </footer>
  </div>

<script>
  $(function() {
      $( "#sortable" ).sortable({
        update: function( event, ui ) {
          var counter = 1;
          console.log($(this));
          console.log($(this).find(".hook--order").length)
          $(this).find(".hook--order").each(function(){
            $(this).val(counter);
            counter++;
          })
        }
      });
    });
</script>


</body>
</html>
